{% extends "layout.html" %}

{% block title %}
    Weather Data
{% endblock %}

{% block main %}
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="display-5">{{ name }}</h1>
        {% if icon %}
            <img class="img-fluid shadow-custom" style="background-color:lightskyblue; max-width: 100px; margin-top: -1.5rem; margin-left: -2rem; margin-bottom: -2rem; margin-right: -1rem; border-radius: 10rem;" src="{{ URL + icon + URL2 }}" alt="Weather Icon">
        {% endif %}
    </div>
    <div class="text-start">
        <h6 class="text-muted">Longitude: {{ long }}</h6>
        <h6 class="text-muted">Latitude: {{ lat }}</h6>
    </div>
    <h1 class="display-4">{{ temp }}°C</h1>
    <h3>Feels Like: {{ feels_like_temp }}°C</h3>
    <h3>High: {{ temp_high }}°C | Low: {{ temp_low }}°C</h3>
    <h4>Pressure: {{ pressure }}hPa</h4>
    <h4>Humidity: {{ humidity }}%</h4>
    <h5>Visibility: {{ visibility }}m</h5>
    <h5>Wind Speed: {{ wind_speed }}m/s</h5>
    {% if not rain == 0 %}
        <h5>Rain: {{ rain }}mm/h</h5>
    {% endif %}
    {% if not snow == 0 %}
        <h5>snow: {{ snow }}mm/h</h5>
    {% endif %}
    <h5>Cloudiness: {{ cloudiness }}%</h5>
{% endblock %}